{% extends 'layout/users/default.twig' %}
{% import 'includes/form.twig' as form %}

{% block content %}
    <div class="row col l4 m4 s12">
        <div class="card-panel hoverable" id="loginBox">
            <form method="POST" action="" data-action="login">
                <div class="row">
                    {{ form.input('name', "Pseudo ou mail", 'text', errors.get('name'), post.get('name')) }}
                    {{ form.input('password', 'Mot de passe', 'password', errors.get('password'), post.get('password')) }}
                </div>
                <div class="row">
                    <div class="row col s12" id="cookieOptions">
                        <input type="checkbox" class="filled-in cyan darken-2" id="remember" name="remember" value='1' />
                        <label for="remember">Rester connecté</label>
                    </div>

                    <div class="col s12" id="connectOptions">
                        <button type="submit" class="btn btn-flat waves-effect" id="connect">Connexion</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <a href="/forgot" class="forgot">Mot de passe oublié</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
