<section class="section jumbotron spaced parallax-container">
    <div class="bg"></div>
    <div class="row container" style="position: relative; z-index: 2">
        <div class="col l12 m12 s12 row">
            <div class="row col l4 m4 s12 center-align">
                <h3 class="ui header">Trouver des photographes</h3>
                <p>
                    Nous vous proposons de trouver les photographes à votre proximité afin d'immortaliser l'instant que vous vivez ou que vous
                    vivrez, ce service est gratuit et demande la connaissance de votre position.
                </p>
                <p><a href="{{ path('home') }}" class="btn">Trouver un photographe</a></p>
            </div>
            <div class="row col l4 m4 s12 center-align">
                <h3 class="ui header">Shooting professionnel</h3>
                <p>
                    Nous mettons des photographes professionels à votre disposition, ceux-ci sont souvant chargés, il serait préferable de faire
                    votre réservation trois ou quatre jours avant la date du shoot.
                </p>
                <p><a href="{{ path('home') }}" class="btn">Réserver un shooting</a></p>
            </div>
            <div class="row col l4 m4 s12 center-align">
                <h3 class="ui header">Publier vos Photos</h3>
                <p>
                    Nous vous donnons la possiblité d'agrandir notre communauté et notre galerie en publiant vos photos. voulez-vous gagner de
                    l'argent grâce à vos photos ? créer un compte.
                </p>
                <p><a href="{{ path('home') }}" class="btn">Publier des photos</a></p>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="/imgs/slider.jpg">
    </div>
</section>
