<section class="section jumbotron spaced parallax-container col l12 s12 m12">
    <div class="row container">
        <div class="row container">
            <span class="ui header row col l12 s12 m12 center">
                <h4>Rétrouvez les photographes qui sont proche de vous, et immortalisez l'instant avec une photo.</h4>
                <p>
                    <a href="/maps/photographers" class="btn btn-flat">Rétrouvez <span class="icon icon-location"></span></a>
                </p>
            </span>
        </div>
    </div>
    <div class="parallax">
        <img src="" data-src="/imgs/slider.jpg" class="bw">
    </div>
</section>