{% extends 'layout/users/default.twig' %}
{% import 'includes/form.twig' as form %}

{% block content %}
    <div class="card-panel z-depth-4" id="loginBox" >
        <div class="row">
            <h2 class="ui header">Signaler un Bug</h2>
            <p>
                Vous avez rencontré un problème ? décrivez précisement ce que vous étiez en train de faire
                ou d'essayer de faire quand cela est arrivé.
            </p>

            <form method="POST" action="/bugs" data-action="bugs">
                {{ form.textarea('bug', 'Votre bug...', errors.get('bug'), post.get('bug')) }}
                <button type="submit" class="btn btn-flat waves-effect">Envoyer</button>
            </form>
        </div>
    </div>
{% endblock %}
