{% extends 'layout/posts/default.twig' %}
{% import 'includes/form.twig' as form %}

{% block content %}
    <section class="section row container">
        {% include 'includes/right-aside.twig' %}
        <div class="col l7"
            <p>
                Vous désirez nous <a href="/ideas">proposés quelque chose</a> ?
                ou <a href="/bugs">Signaler un problème</a> ?
                faire une <a href="/booking">réservation</a> ? ce formulaire n'est pas approprié, veuillez suivre les liens proposés pour le faire,
                dans le cas contraire, contacter nous avec le formulaire ci-dessous merci.
            </p>
            <form action="" method="POST" class="card-panel grey dark-4" enctype="multipart/form-data" data-action="upload">

                {{ form.smallInput('name','Votre nom', 'text', errors.get('name'), post.get('name') ?? activeUser.name) }}
                {{ form.smallInput('email', 'Votre email', 'email', errors.get('email'), post.get('email') ?? activeUser.email) }}
                {{ form.textarea('message', 'message', errors.get('message'), post.get('message')) }}

                <div class="submit-button">
                    <button type="submit" class="btn btn-flat waves-effect">Envoyer<i class="icon icon-send"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col l2 hide-on-small-and-down">
            <div style="text-align: center;">
                <div class="fb-page" data-href="https://www.facebook.com/ngpictures23/" data-tabs="messages" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/ngpictures23/" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/ngpictures23/">Ngpictures</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
    <section class="jumbotron parallax-container col l12 s12 m12" style="margin-bottom: 0px;">
        <div class="row container">
            <div class="col l12 m12 s12 row">
                <div class="col l4 m4 s12 center-align pb10">
                    <span class="stats-value">
                        <i class="icon icon-location"></i>
                    </span>
                    <span class="stats-label">Trouver des photographes</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure perspiciatis voluptatum commodi, inventore
                        sint debitis, aut veniam corrupti necessitatibus at placeat tenetur dolor error reprehenderit illo voluptatem
                        laboriosam, officiis ea.</p>
                </div>
                <div class="col l4 m4 s12 center-align pb10">
                    <span class="stats-value">
                        <i class="icon icon-camera"></i>
                    </span>
                    <span class="stats-label">Shooting professionnel</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt, dicta expedita totam adipisci rem
                        amet dolorum excepturi tempora, molestiae repudiandae enim consectetur. Nam laudantium facere voluptatum
                        rem quam aspernatur?</p>
                </div>
                <div class="col l4 m4 s12 center-align pb10">
                    <span class="stats-value">
                        <i class="icon icon-heart"></i>
                    </span>
                    <span class="stats-label">Publier vos Photos</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum provident ea voluptatibus a facilis, alias ratione
                        vitae molestiae quam earum perspiciatis eius, quidem modi quae eos harum doloribus, iste quod.</p>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="imgs/outils.jpeg" alt="ngpictures-outils" title="ngpictures-outils" class="bw">
        </div>
    </section>
{% endblock %}
