{% extends 'layout/users/default.twig' %}
{% import 'includes/form.twig' as form %}

{% block content %}
    <div class="card-panel z-depth-4" id="loginBox" >
        <div class="row">
            <h2 class="ui header">Donner votre avis</h2>
            <p>
                Aidez ngpictures à aller de l'avant, donner une idée sur ce qui n'est pas disponible mais que vous voudriez
                Dites nous ce que nous pouvons améliorer pour votre bonne expériance.
            </p>

            <form method="POST" action="" data-action="bugs">
                {{ form.textarea('ideas', 'Votre idée...', errors.get('ideas'), post.get('ideas')) }}
                <button type="submit" class="btn btn-flat waves-effect">Envoyer</button>
            </form>
        </div>
    </div>
{% endblock %}
