{% extends 'layout/users/default.twig' %}
{% import 'includes/form.twig' as form %}

{% block content %}
<div class="row col l4 m4 s12">
    <div class="card-panel hoverable" id="loginBox">
        <h2 class="ui header">Signaler la publication</h2>
        <p>
            Choissiez un motif de signalement pour cette publication
        </p>
        <div class="row">
            <img src="/imgs/bgjumbo.jpg" class="responsive" alt="" width="100%" height="auto">
        </div>
        <form method="POST" action="/bugs" data-action="bugs">
            {{ form.textarea('report', 'Votre signalement...', errors.get('report'), post.get('report')) }}
            <button type="submit" class="btn btn-flat waves-effect">Envoyer</button>
        </form>
    </div>
</div>
{% endblock %}
