/tmp/
/cache/
public/assets/.sass-cache
public/imgs/
/public/i/
/.idea/
/.vscode/
vendor
Desktop.ini
/composer.lock
system.log
/TODO.txt
/ng
/ngpictures
/ngpictures-legacy
/ocart2
/todos-vue
/cgi-bin
/.well-known
/yarn.lock
/node_modules
/config/autoload/*
/config/development.config.php
/public/assets/js/app.js
resources/*