/tmp/
/cache/
public/uploads/
public/assets/.sass-cache
public/imgs/
/public/i/
/.idea/
/.vscode/
vendor
Desktop.ini
/composer.lock
/system.log
/TODO.txt
/ng
/ngpictures
/ngpictures-legacy
/ocart2
/todos-vue
/cgi-bin