.jumbotron {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 2em !important;

    &.dark {
        background: #100f0f !important;
        color: #ccc;
    }
}


.jumbotron-small {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    padding: 0.75em !important;
    background: url("/imgs/bgjumbo.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1em;

    & .jumbotron-content {
        display: block;
        word-wrap: break-word;
    }

    & .title h3{
        padding-left: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: 500 !important;
        text-transform: capitalize !important;
    }
}

.statistic {
    width: 100%;
    min-height: 200px !important;
    display: block;
    color: #100f0f !important;
    padding: 10px;
}
