.jumbotron {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 2em !important;

    &.dark {
        background: #263238 !important;
        color: #ccc;
    }

    &.light {
        background:rgb(247, 246, 246);
        color: #111111;
    }
}
