@import "variables";

.jumbotron {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 2em !important;

  &.spaced {
    padding-top: 6em !important;
  }

  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;

  &.jumbotron-img {
    display: none;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  }

  &.dark {
    background: #100f0f !important;
    color: #ccc;
  }
}

.jumbotron-hero {
  margin-top: -64px;
  display: block;
  width: 100%;
  min-height: 65vh;
  margin-bottom: 20px;
  position: relative;
  padding: 120px 0.75em 60px 0.75em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover !important;
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);

  & .jumbotron-content {
    display: block;
    position: relative;
    z-index: 2;
  }

  & .title {
    position: relative;
    font-family: "Raleway", Roboto, sans-serif !important;
    color: #fff;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700 !important;
  }

  & p {
    font-size: 1.2em;
    font-weight: 300 !important;
  }

  & .bg {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
    width: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.jumbotron-small {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  padding: 0.75em !important;
  background: url("/imgs/bgjumbo.jpg") no-repeat fixed center !important;
  background-size: cover !important;
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);

  & .jumbotron-content {
    display: block;
    position: relative;
    word-wrap: break-word;
    margin-bottom: 20px;
    color: #fff;
  }

  & .title h3 {
    position: relative;
    font-family: "Raleway", Roboto, sans-serif !important;
    color: #fff;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700 !important;
    text-transform: capitalize !important;
  }

  & .bg {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    width: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.jumbotron-user {
  @extend .jumbotron-small;
  background-attachment: fixed;
  height: auto !important;
  padding-top: 100px !important;
  margin-top: -64px !important;

  .jumbotron-user-avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid rgba(255, 255, 255, 0.2);
    margin: 0 auto;
  }

  .jumbotron-user-name {
    padding-top: 20px;

    .bio {
      padding-top: -20px;
      width: 100%;
      max-width: 500px;
    }
  }

  .jumbotron-user-stats {

  }

  .jumbotron-user-avatar img {
    width: 100%;
    height: 100%;
  }

}

.user-avatar {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background: #100f0f;
  border: 2px solid #ccc;
  position: absolute;
  &:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  -webkit-filter: none !important;
  filter: none !important;

  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.statistic {
  width: 100%;
  min-height: 200px !important;
  display: block;
  color: #100f0f !important;
  padding: 10px;
}
