$bg-color   :   #1c1b1b;


$txt-color  :   #dddddd;
$txt-light-color: #acacac;

$border-color : #383737;

$nav-color  :   #263238;
$btn-color  :   #607d8b;
$btn-focus-color: #546e7a;
$active-color : #039BE5;
$active-hover-color: #0368a9;
