$bg-color   :   #202124;

$txt-color  :   #fff;
$txt-light-color: #d2d2d2;
$border-color : #383737;

$dark-card-color : #100f0f;

$nav-color  :   $bg-color;
$btn-color  :   #0083d0;
$btn-focus-color: #005ca6;
$active-color : #1da1f2;
$active-hover-color: #005ca6;
