@-webkit-keyframes verse-alert {
	
		0%{ word-spacing: 1px;  }
		25%{ word-spacing: 2px; }
		50%{ word-spacing: 5px; }
		75%{ word-spacing: 2px; }
		100%{ word-spacing: 1px; }
	
	}
	
	@keyframes verse-alert {
	
		0%{ word-spacing: 1px;  }
		25%{ word-spacing: 2px; }
		50%{ word-spacing: 5px; }
		75%{ word-spacing: 2px; }
		100%{ word-spacing: 1px; }
	
	}

	@-webkit-keyframes active-cover {
		0% {
			background-position: 0 -70px;
		}

		50% {
			background-position: -1000px -70px;
		}

		100% {
			background-position: 0 -70px;
		}
	}

	@keyframes active-cover {
		0% {
			background-position: 0 -70px;
		}

		50% {
			background-position: -1150px -70px;
		}

		100% {
			background-position: 0 -70px;
		}
	}


	@-webkit-keyframes change-bg {
		0% {
			background: url('/imgs/bg/discover-bg.jpg'), rgba(0,0,0,0.6);
			background-repeat: no-repeat;
		    background-position: center;
		    background-attachment: fixed;
		    background-blend-mode: overlay;
		    background-size: cover;
		}

		25% {
			background: url('/imgs/bg/enjoy-bg.jpg'), rgba(0,0,0,0.6);
			background-repeat: no-repeat;
		    background-position: center;
		    background-attachment: fixed;
		    background-blend-mode: overlay;
		    background-size: cover;
		}

		50% {
			background: url('/imgs/bg/dance-bg.jpg'), rgba(0,0,0,0.6);
			background-repeat: no-repeat;
		    background-position: center;
		    background-attachment: fixed;
		    background-blend-mode: overlay;
		    background-size: cover;
		}

		75% {
			background: url('/imgs/bg/share-bg.jpg'), rgba(0,0,0,0.6);
			background-repeat: no-repeat;
		    background-position: center;
		    background-attachment: fixed;
		    background-blend-mode: overlay;
		    background-size: cover;
		}
	}


	@keyframes change-bg {
		0% {
			background: url('/imgs/bg/discover-bg.jpg'), rgba(0,0,0,0.6);
			background-repeat: no-repeat;
		    background-position: center;
		    background-attachment: fixed;
		    background-blend-mode: overlay;
		    background-size: cover;
		}

		25% {
			background: url('/imgs/bg/enjoy-bg.jpg'), rgba(0,0,0,0.6);
			background-repeat: no-repeat;
		    background-position: center;
		    background-attachment: fixed;
		    background-blend-mode: overlay;
		    background-size: cover;
		}

		50% {
			background: url('/imgs/bg/dance-bg.jpg'), rgba(0,0,0,0.6);
			background-repeat: no-repeat;
		    background-position: center;
		    background-attachment: fixed;
		    background-blend-mode: overlay;
		    background-size: cover;
		}

		75% {
			background: url('/imgs/bg/share-bg.jpg'), rgba(0,0,0,0.6);
			background-repeat: no-repeat;
		    background-position: center;
		    background-attachment: fixed;
		    background-blend-mode: overlay;
		    background-size: cover;
		}
	}