@font-face{
	font-family: DaysLater;
	src: url("../fonts/28 Days Later.ttf")  format('truetype');
}

@font-face{
	font-family: mrsmonster;
	src: url("../fonts/mrsmonster.ttf")  format('truetype');
}

@font-face{
	font-family: robot-title;
	font-size: inherit;
	src: url("../fonts/RobotoSlab-Regular.ttf")  format('truetype');
}

@font-face {
	font-family: Social;
	src: url("../fonts/Social.otf") format('Opentype');
}

@font-face {
	font-family: openSans;
	src: url("../fonts/openSans.ttf") format('truetype');
}

@font-face {
	font-family: motion;
	src: url("../fonts/motion-picture.ttf") format('truetype');
}
