.page{
    &-title{
        & h1{
            font: {
                weight: 300;
                family: robot-title;
                size: 1rem
            }
            text-align: left;
            padding: 0;
            margin: 0;
            font-style:italic;
            color:#8d8f92;
            padding-left:5px;
        }
        padding: 10px;
        margin-bottom: 15px;
        border: 2px dashed transparent;
        border-bottom-color: #cecece; 
    }

    &-footer{
        border-top: 5px solid #ccc;

        &-title{
            font: {
                family: robot-title;
                weight: 400;
                size: 1.1em;
            }
        }

        &-text{
            color: #cecece;
            font: {
                family: openSans, sans-serif;
                size: small;
            }
        }
    }
}

.article-content{
    font-family: openSans, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    margin: 10px;
    color: rgb(78, 78, 78);
    
    & p,ul,blockquote{ margin-bottom: 1.5em; }
    & p{text-align: justify;}
    & h1,h2,h3,h4,h5,h6{
        font-family: robot-title; 
        margin-bottom: 24px; 
        font-weight: bolder;
        color: #333; 
    }
    & a{
        color: $color-active;
        &:hover{
            color: darken($color-active,2);
            text-decoration: none;
        }
    }

    & h1{ font-size: 1.75em; }
    & h2{ font-size: 1.5em; }
    & h3{ font-size: 1.32em; }
    & h4{ font-size: 1.25em; }
    & h5{ font-size: 1em; }
    & h6{ font-size: 1em; }

    & ul, ol{ 
        margin-left: 20px; 
        overflow: hidden; 
    }
    & ul{
        list-style: square inside;
        & ul{
            list-style: disc inside;
            margin-bottom: 0;
        }
        & ol {
            list-style: lower-roman inside;
            margin-bottom: 0;
        }
    }
    & ol{
        list-style: decimal inside;
        & ul{
            list-style: disc inside;
            margin-bottom: 0;
        }
        & ol {
            list-style: lower-roman inside;
            margin-bottom: 0;
        }
    }
    & blockquote{
        margin: 0 60px 0 45px;
        border-left: 5px solid $color-active;
        padding-left: 15px;
        font-style: italic;
        overflow: hidden;
        & em {
            display: block;
            text-align: right;
            font-weight: bold;
            font-style: normal;
            &::before{
                content: '— '
            }
        }
        & p{
            margin-bottom: 0;
        }
    }
    & strong{
        color: #333;
        font-weight: bolder;
    }

    img{
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        position: relative;
    }
}

.section-title{
    font: {
        family: robot-title;
        size: 1.5em;
        weight: bolder;
        margin: 0.5em 0 1em 0;
    }
}

.section-title-b{
    font: {
        family: robot-title;
        size: 1.25em;
        weight: bolder;
    }
}

.mr{
    &-10{margin-right: 10px !important;}
    &-20{margin-right: 20px !important;}
    &-30{ margin-right: 30px !important;}
}

.ml{
    &-10{margin-left: 10px !important;}
    &-20{margin-left: 20px !important;}
    &-30{ margin-left: 30px !important;}
}

.mt{
    &-10{margin-top: 10px !important;}
    &-20{margin-top: 20px !important;}
    &-30{ margin-top: 30px !important;}
}

.mb{
    &-10{margin-bottom: 10px !important;}
    &-20{margin-bottom: 20px !important;}
    &-30{ margin-bottom: 30px !important;}
}


.p {
    padding: 5px;
}

.pr{
    &-10{padding-right: 10px !important;}
    &-20{padding-right: 20px !important;}
    &-30{ padding-right: 30px !important;}
}

.pl{
    &-10{padding-left: 10px !important;}
    &-20{padding-left: 20px !important;}
    &-30{ padding-left: 30px !important;}
}

.pt{
    &-10{padding-top: 10px !important;}
    &-20{padding-top: 20px !important;}
    &-30{ padding-top: 30px !important;}
}

.pb{
    &-10{padding-bottom: 10px !important;}
    &-20{padding-bottom: 20px !important;}
    &-30{ padding-bottom: 30px !important;}
}

  