RewriteEngine On

#cache busting
RewriteRule ^imgs/(.*)_([a-z0-9]+)\.(jpg|jpeg|png|gif)/?$ imgs/$1.$3 [QSA,L]
RewriteRule ^assets/(.*)_([a-z0-9]+)\.(.*)/?$ assets/$1.$3 [QSA,L]
RewriteRule ^uploads/(.*)_([a-z0-9]+)\.(jpg|jpeg|png|gif)/?$ uploads/$1.$3 [QSA,L]

#routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
