@-webkit-keyframes verse-alert {
	
		0%{ word-spacing: 1px;  }
		25%{ word-spacing: 2px; }
		50%{ word-spacing: 5px; }
		75%{ word-spacing: 2px; }
		100%{ word-spacing: 1px; }
	
	}
	
	@keyframes verse-alert {
	
		0%{ word-spacing: 1px;  }
		25%{ word-spacing: 2px; }
		50%{ word-spacing: 5px; }
		75%{ word-spacing: 2px; }
		100%{ word-spacing: 1px; }
	
	}

	@-webkit-keyframes active-cover {
		0% {
			background-position: 0 -70px;
		}

		50% {
			background-position: -1000px -70px;
		}

		100% {
			background-position: 0 -70px;
		}
	}

	@keyframes active-cover {
		0% {
			background-position: 0 -70px;
		}

		50% {
			background-position: -1150px -70px;
		}

		100% {
			background-position: 0 -70px;
		}
	}