@import "../theme/_variables.scss";
body {	
	font-family: "Helvetica Neue", Helvetica , sans-serif , encode403;
	overflow-x: hidden;
	background: $color-bg;
	transition: $transition;
	color: rgb(78, 78, 78);
}

a {
	cursor: pointer !important;
	color: $color-active;
}

::-webkit-scrollbar {
	min-width: 4px;
	width: 4px;
	max-width: 12px;
	min-height: 5px;
	height: 5px;
	max-height: 12px;
	background: inherit ;

}

::-webkit-scrollbar-thumb {

	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border: solid 4px $color-4;
}

::-webkit-scrollbar-button {
	display: inline-block;
	height: auto;
}

::selection{
	background: $color-2;
	color: #fff;
}