@import "../bases/variables";

.card-user {
    padding-top: 20px;
    background: transparent;
    border: 1px solid $border-color;
    border-top-width: 0;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &-profile {
        border: none;
    }
}

.card-user .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card-user .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card-user .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    border-radius: 50%;
}

.card-user .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card-user .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card-user .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card-user .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card-user .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card-user .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card-user .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card-user .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card-user.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card-user.people:first-child {
    margin-left: 0;
}

.card-user.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card-user.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.card-user.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card-user.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    color: #fff;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.card-user.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.card-user.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card-user.hovercard .cardheader {
    background-size: cover !important ;
    background-position: center !important;
    background-attachment: fixed;
    height: 135px;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    border-bottom: 5px solid $border-color;
}

.card-user.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card-user.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 5px solid $border-color;
    -webkit-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;

    &:hover {
        border-color: rgba(255,255,255,0.5);
    }
}

.card-user.hovercard .info {
    padding: 4px 8px 10px;
}

.card-user.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card-user.hovercard .info .desc {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    color: rgba(204, 204, 204, 0.727);
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}


.news-card {

    box-shadow: 0 2px 5px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    -webkit-box-shadow: 0 2px 5px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    background: $dark-card-color;
    color: #fff;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px !important;

    .card-image img {
        width: 100%;
        height: 100%;
    }

    &-header {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-shadow: 0 0 20px rgba(10, 10, 10, 0.1);
        box-shadow: 0 0 20px rgba(10, 10, 10, 0.1);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        width: 100%;
        height: auto;
        z-index: 100;

        &-title{
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            font-weight: 600;
            padding: 0.35rem;
            -webkit-text-decoration-line: none !important;
            text-decoration-line: none !important;
        }
    }

    &-title {
        margin-bottom: 10px;
        margin-top: 0 !important;
        border-bottom: 1px solid #383737;
        padding-bottom: 10px;

        & h1{
            text-transform: capitalize;
            font-family: "Raleway", "Roboto", openSans, sans-serif ;
            font-weight: 300 !important;
            font-size: 1.5em;
            margin-bottom: 24px;
            margin-top: 0 !important;
            color: #333;
        }

        & h2{
            text-transform: capitalize;
            font-family: "Raleway", "Roboto", openSans, sans-serif ;
            font-weight: 600 !important;
            font-size: 1.5em;
            margin-bottom: 10px;
            margin-top: 0 !important;
        }

        & i {
            border: 2px solid #fff;
            border-radius: 100%;
            padding: 10px;
            text-align: center;
            font-size: small;
            margin-right: 10px;
            float: right;
            margin-top: -5px;
            margin-bottom: 2px;
        }
    }

    &-header-icon{
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0.35rem;
        -webkit-text-decoration-line: none !important;
        text-decoration-line: none !important;
        color: #fff;
    }

    &-image{
        display: block;
        position: relative;
        overflow: hidden;
        margin: 0 !important;
        padding: 0 !important;

        &-profil{
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 0.55rem;

            & img{
                width: 50px;
                height: 50px;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
            }
        }
    }

    &-image-article img{
        width: 100%;
        height: auto;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        margin:0 !important;
        padding:0 !important;
    }

    &-content {
        padding: 1rem;
        text-align: left;
        font-family: openSans, sans-serif !important;

        & small{
            margin-top: 15px;
            font-weight: 400;
            font-size: small;
            color: #919191;
            text-transform: lowercase;
        }
    }

    &-seemore{
        margin-top: 5px;
        display: block;
        color: #919191;
        font-family: openSans, sans-serif;
        font-weight: 200;
        &:hover{
            color: #039BE5;
        }
    }

    &-footer{
        border-top: 1px solid $border-color;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        &-item{
            -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                -ms-flex-negative: 0;
                flex-shrink: 0;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;

            padding: 0.30rem;
            text-decoration: none !important;
            font-size: smaller;
            cursor: pointer;
            font-weight: 400;
            color: #919191;

            .active {
              color: #0D47A1;
            }

            -webkit-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;

            &:not(:last-child){
                border-right: 1px solid #383737;
            }
        }
    }

    &-stat{
        text-decoration: none !important;
        color: #919191;
        font-size: small !important;
        font-weight: 400;
    }

    &:not(:last-child){
        margin-bottom: 0.35rem;
    }
}

#articleInfo {
    padding: 10px 0 10px 0;
    font-family: "Roboto", sans-serif  ;
    & .icon{
        color: #919191 !important;
    }
}
