@import "../bases/variables";

.gallery {
  display: grid;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-auto-flow: row dense;


  .gallery-item {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background: $dark-card-color;
    color: #fff;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px !important;
    border-radius: 5px;

    &-header {
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-shadow: 0 0 20px rgba(10, 10, 10, 0.1);
      box-shadow: 0 0 20px rgba(10, 10, 10, 0.1);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      width: 100%;
      height: auto;
      z-index: 100;

      &-title{
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        font-weight: 400;
        padding: 0.35rem;
        -webkit-text-decoration-line: none !important;
        text-decoration-line: none !important;
      }
    }
    &-header-icon{
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0.35rem;
      -webkit-text-decoration-line: none !important;
      text-decoration-line: none !important;
      color: #fff;
    }
    &-image{
      display: block;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;

      margin: 0 !important;
      padding: 0 !important;

      &-profil{
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0.55rem;

        & img{
          width: 35px;
          height: 35px;
          border-radius: 100%;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
        }
      }
    }
    &-footer{
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      &-item{
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        padding: 0.30rem;
        text-decoration: none !important;
        font-size: smaller;
        cursor: pointer;
        font-weight: 400;
        color: #919191;

        .active {
          color: #0D47A1;
        }

        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;

        &:not(:last-child){
          border-right: 1px solid #383737;
        }
      }
    }
    &:not(:last-child){
      margin-bottom: 0.35rem;
    }
  }
}

@media only screen and (min-width: 701px) {
  .gallery {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}

@media only screen and (min-width: 993px) {
  .gallery {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(3, 1fr) !important;
  }
}