@import "../bases/variables";

.gallery {
  display: grid;
  transition: all linear 0.3s;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-auto-flow: row dense;

  .gallery-item {
    cursor: pointer;
    
    &-img {
      
    }
    
    &-body {
      display: none;
      grid-column: span 4;
      overflow: hidden;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px !important;

      &.active {
        display: block;
      }
    }
  }
}