.ui.header {
    border: none;
    padding: 0em 0em;
    font-weight: 700;
    line-height: 1.28571429em;
    text-transform: none;
    font-family: Raleway, Roboto, Sans-serif;
    color: #ccc;
  }
  .ui.header:first-child {
    margin-top: -0.14285714em;
  }
  .ui.header:last-child {
    margin-bottom: 0em;
  }


  .ui.header > .icon {
    display: table-cell;
    opacity: 1;
    font-size: 1.5em;
    padding-top: 0em;
    vertical-align: middle;
  }

  .ui.header .icon:only-child {
    display: inline-block;
    padding: 0em;
    margin-right: 0.75rem;
  }

  .ui.header + p {
    margin-top: 0em;
  }

  h1.ui.header {
    font-size: 2rem;
  }
  h2.ui.header {
    font-size: 1.71428571rem;
  }
  h3.ui.header {
    font-size: 1.28571429rem;
  }
  h4.ui.header {
    font-size: 1.07142857rem;
  }
  h5.ui.header {
    font-size: 1rem;
  }

  .ui.dividing.header {
    padding-bottom: 0.21428571rem;
    border-bottom: 1px solid $border-color;
  }

  .ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1.28571429em;
  }
