canvas {
    display: block;
    vertical-align: bottom;
    position: absolute;
    top: 0 !important;
    left: 0;
    z-index: -1;
}

#particles-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgb(28, 27, 27);
    background: rgba(28, 27, 27, 0.974) url('/imgs/outils.jpeg');
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.particles {
    position: absolute;
    border-radius: 100%;
    z-index: -1;
}


@for $i from 1 through 60 {

    @-webkit-keyframes particle-animation-#{$i} {
        100% {
            -webkit-transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
                    transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
        }
    }

    @keyframes particle-animation-#{$i} {
        100% {
            -webkit-transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
                    transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
        }
    }

    .particles:nth-child(#{$i}) {
        -webkit-animation: particle-animation-#{$i} 5s infinite;
        animation: particle-animation-#{$i} 5s infinite;
        $size: random(5)+5+px;
        height: $size;
        width: $size;
        opacity: random(100)/100;
        -webkit-animation-delay: -$i * .2s;
        animation-delay: .2s;
        background: hsl(random(360), 70%, 50%);
        -webkit-transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
        -ms-transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
        transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    }
}
