@import "../bases/variables";

 .stats-value {
  font-size: 3rem;
  font-weight: normal;
  line-height: 1em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

 .stats-label {
  font-size: 1em;
  display: block;
  font-weight: bold;
  color: $txt-color;
  text-transform: uppercase;
  text-align: center;
}
