{% extends 'layout/admin/default.twig' %}
{% import 'includes/form.twig' as form %}

{% block content %}
    <section class="section container row">
        <section class="section col l9 m12 s12">
            <h2 class="ui header">Editer un Album</h2>
            <form action="" method="POST" class="card-panel grey dark-4">

                {{ form.input('title', 'Title', 'text', errors.get('title'), post.get('title') ?? album.title) }}
                {{ form.textarea('description', 'Description', errors.get('description'), post.get('description') ?? album.description) }}

                <div class="submit-button">
                    <button type="submit" class="btn btn-flat waves-effect">Publier</i>
                </button>
                </div>
            </form>
        </section>
        {% include 'includes/menu-aside.twig' %}
    </section>
{% endblock %}
