<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
{% include "includes/ngpictures-watermark.txt" %}

<head>
    <title>{{ pageManager.getTitle }}</title>
    {% include "includes/default-meta.twig" %}
    {% include "includes/favicon.twig" %}
    {% include "includes/default-style.twig"%}
    <style>
        #map {
            height: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div id="map"></div>


    <div class="fixed-action-btn second">
        <a class="btn-floating btn-large blue shadow-4" href="/community/photographers">
            <i class="icon icon-users"></i>
        </a>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue-grey dark-4 shadow-4" href="/">
            <i class="icon icon-home"></i>
        </a>
    </div>

    <script>
        var customLabel = {
            Bureau: {
                label: 'P'
            },
            Studio: {
                label: 'S'
            }
        };

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: new google.maps.LatLng(-11.6468624, 27.4688104),
                zoom: 15
            });
            var infoWindow = new google.maps.InfoWindow;

            downloadUrl('/maps/photographers?option=getdata', function (data) {
                var markers = JSON.parse(data.responseText);
                Array.prototype.forEach.call(markers, function (markerElem) {
                    var id = markerElem.id;
                    var name = markerElem.name;
                    var address = markerElem.address;
                    var type = markerElem.type;
                    var point = new google.maps.LatLng(parseFloat(markerElem.lat), parseFloat(
                        markerElem.lng));

                    var infowincontent = document.createElement('div');
                    var strong = document.createElement('strong');
                    strong.style.color = "#000";
                    infowincontent.style.color = "#000";
                    strong.textContent = name;
                    infowincontent.appendChild(strong);
                    infowincontent.appendChild(document.createElement('br'));

                    var text = document.createElement('text');
                    text.textContent = address
                    infowincontent.appendChild(text);
                    var icon = customLabel[type] || {};
                    var marker = new google.maps.Marker({
                        map: map,
                        position: point,
                        label: icon.label
                    });
                    marker.addListener('click', function () {
                        infoWindow.setContent(infowincontent);
                        infoWindow.open(map, marker);
                    });
                });
            });
        }



        function downloadUrl(url, callback) {
            var request = window.ActiveXObject ?
                new ActiveXObject('Microsoft.XMLHTTP') :
                new XMLHttpRequest;

            request.onreadystatechange = function () {
                if (request.readyState == 4) {
                    request.onreadystatechange = doNothing;
                    callback(request, request.status);
                }
            };

            request.open('GET', url, true);
            request.setRequestHeader('X-Requested-With', 'xmlhttprequest')
            request.send(null);
        }

        function doNothing() {}
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ constant('MAPS_API_KEY') }}&callback=initMap"></script>
    {% include "includes/default-script.twig" %} {% include "includes/flash.twig" %}
</body>

</html>
