.slider {
  position: relative;
  height: 350px !important;
  width: 100%;
  margin-bottom: 2em;
}

.slider.fullscreen {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider.fullscreen ul.slides {
  height: 100%;
}

.slider.fullscreen ul.indicators {
  z-index: 2;
  bottom: 30px;
}

.slider .slides .bg {
  background-color: rgba(0,0,0,0.6);
  margin: 0;
  width: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.slider .slides {
  background-color: #9e9e9e;
  margin: 0;
  height: 350px !important;
}

.slider .slides li {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: inherit;
  overflow: hidden;
  border-bottom: 2px solid #37474f !important;
}

.slider .slides li img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.slider .slides li .caption {
  color: #ccc;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  display: inherit;
  top: 10%;
  left: 15%;
  width: 70%;
  opacity: 0;
  z-index: 5 !important;
}

.slider .slides li .caption h3 {
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 2px 1px rgba(0,0,0,0.4);
}

.slider .slides li .caption h6 {
  font-family: 200;
  font-size: 1.2em;
}

.slider .slides li .caption p {
  color: #e0e0e0;
}

.slider .slides li.active {
  z-index: 2;
}

.slider .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0;
  z-index: 4;
}

.slider .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  -webkit-box-shadow: inset 0 0 5px #000;
          box-shadow: inset 0 0 5px #000;
  background-color: rgba(255,255,255,0.1);
  -webkit-transition: background-color .3s linear;
  -o-transition: background-color .3s linear;
  transition: background-color .3s linear;
  border-radius: 50%;
}

.slider .indicators .indicator-item.active {
  background-color: #1565C0;
}
