<div class="slider">
    <ul class="slides">
    {% for key, photo in photos %}

        <li>
            <img src="{{ photo.thumbUrl }}">
            <div class="caption center-align">
                <h2 class="title">{{ sliderTitle[key] }}</h2>
                <h6 class="light grey-text text-lighten-3">
                Découvrez la version 2.0 de ngpictures et toutes les nouvelles fonctionnalités.</h6>
            </div>
            <div class="bg"></div>
        </li>
    {% else %}
        <li>
            <img src="/imgs/outils.jpeg">
            <div class="caption center-align">
                <h2 class="title">Deep Shooting</h2>
                <h6 class="light grey-text text-lighten-3">
                Découvrez la version 2.0 de ngpictures et toutes les nouvelles fonctionnalités.</h6>
            </div>
            <div class="bg"></div>
        </li>
    {% endfor %}
    </ul>
</div>
