<div class="slider" style="margin-top: -64px" data-action-requires="menu-transparent">
    <ul class="slides">
        {% for i, title in sliderTitle %}
            <li>
                <img src="{{ cacheBusting('/imgs/slider.jpg') }}">
                <div class="caption center-align">
                    <h2 class="title">{{ sliderTitle[i] }}</h2>
                    <h6 class="light grey-text text-lighten-3">
                       {{ sliderDesc[i] }}
                    </h6>
                </div>
                <div class="bg"></div>
            </li>
        {% else %}
            <li>
                <img src="{{ cacheBusting('/imgs/slider.jpg') }}">
                <div class="caption center-align">
                    <h2 class="title">Deep Shooting</h2>
                    <h6 class="light grey-text text-lighten-3">
                    Découvrez la version 2.0 de ngpictures et toutes les nouvelles fonctionnalités.</h6>
                </div>
                <div class="bg"></div>
            </li>
        {% endfor %}
    </ul>
</div>
