<aside class="col nexted l3 m3 s12 animated slideInLeft">
    <div class="card grey dark-4">
        <ul class="collapsible shadow-0" data-collapsible="accordion">
            <li class="active">
                <div class="collapsible-header active">
                    <h2 class="ui header">Photographers</h2>
                </div>
                <div class="collapsible-body">
                    <img src="" data-src="/imgs/reservation.jpg" class="responsive-img" alt="ngpictures-photo" title="service" style="margin: 0 auto; width: 108%">
                    <p>
                        Rétrouvez les photographes qui sont proche de vous, et immortalisez l'instant avec une photo.
                    </p>
                    <a href="/maps/photographers" class="btn btn-flat">Rétrouvez</a>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <h2 class="ui header">Shooting</h2>
                </div>
                <div class="collapsible-body">
                <img src="" data-src="/imgs/shooting.jpeg" class="responsive-img" alt="ngpictures-photo" title="service" style="margin: 0 auto; width: 108%">
                    <p>Envie de faire un shooting avec nous, pour vous ? faites vos réservations facilement</p>
                    <a href="/booking" class="btn btn-flat">Réservation</a>
                </div>
            </li>
        </ul>
    </div>
</aside>
