<aside class="col l3 m3 s12 animated slideInLeft hide-on-med-and-down">
    <div class="card grey dark-4">
        <ul class="collapsible" data-collapsible="expandable" >
            <li class="active">
                <div class="collapsible-header active">
                    <h2 class="ui header">Photographers</h2>
                </div>
                <div class="collapsible-body">
                    <img src="/imgs/reservation.jpg" alt="" style="margin-top: -10px; margin-left: -10px; width: 108%">
                    <p>
                        Rétrouvez les photographes qui sont proche de vous, et immortalisez l'instant avec une photo.
                    </p>
                    <a href="/maps/photographers" class="btn btn-flat" style="margin-left: -10px; width: 108%">Rétrouvez</a>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <h2 class="ui header">Shooting</h2>
                </div>
                <div class="collapsible-body">
                <img src="/imgs/shooting.jpeg" alt="" style="margin-top: -10px; margin-left: -10px; width: 108%">
                    <p>Envi de faire un shooting avec nous, pour vous ? faites vos réservations facilement</p>
                    <a href="/booking" class="btn btn-flat" style="margin-left: -10px; width: 108%">Réservation</a>
                </div>
            </li>
        </ul>
    </div>
</aside>
