<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" >
    {% include "includes/ngpictures-watermark.txt" %}
    <head>
        <title>{{ pageManager.getName }}</title>
        {% include "includes/default-meta.twig" %}
        {% include "includes/favicon.twig" %}
        {% include "includes/default-style.twig" %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body id="particles-container">
        {% include "includes/menu.twig" %}
        {% include "includes/mobile-menu.twig" %}

        <main class="page-content" id="pageContent" role="main">
            {% block content %}{% endblock %}
        </main>

        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
        {% include "includes/default-script.twig" %}
        {% include "includes/flash.twig" %}
    </body>
</html>
