<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" >
    {% include "includes/ngpictures-watermark.txt" %}
    <head>
        <title>{{ pageManager.getTitle }}</title>
        {% include "includes/default-meta.twig" %}
        {% include "includes/favicon.twig" %}
        {% include "includes/default-style.twig" %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
