{% extends 'layout/posts/default.twig' %}
{% import 'includes/form.twig' as form %}

{% block content %}
    <section class="section row">
        <div class="container">
            {% include 'includes/right-aside.twig' %}
            <section class="col l6 m12 s12">
                <div class="grey dark-4 col l12 m12 s12">
                    <form action="" method="POST" enctype="multipart/form-data" data-action="upload">
                        <div class="row">
                            {{ form.input('title','Titre', 'text', errors.get('title'), post.get('title') ?? article.title) }}
                            {{ form.textarea('content','Description', errors.get('content'), post.get('content') ?? article.content) }}
                            <div class="submit-button col s12">
                                <button type="submit" class="btn btn-flat waves-effect">Publier</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            {% include 'includes/menu-aside.twig' %}
        </div>
    </section>
{% endblock %}
