<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
{% include "includes/ngpictures-watermark.txt" %}
<head>
    <title>{{ page.getTitle }}</title>
    {% include "includes/default-meta.twig" %}
    {% include "includes/favicon.twig" %}
    {% include "includes/default-style.twig" %}
</head>
<body>
{% include "includes/menu.twig" %}
{% include "includes/mobile-menu.twig" %}

<div class="jumbotron-hero" data-action-requires="menu-transparent" style="background: url('https://images.pexels.com/photos/631317/pexels-photo-631317.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');">
    <div class="center container row">
        <div class="bg"></div>
        <span class="jumbotron-content">
            <span class="ui header">
                <h3 class="title">L'expression de la photographie <br> africaine</h3>
            </span>
            <div class="col l6 offset-l3 m12 s12">
                <p>Les meilleures photos partagées par des photographes talentueux</p>
                {% if activeUser %}
                    <p><a href="/submit-photo" class="btn">Ajouter vos photos <span class="icon icon-upload-cloud"></span></a></p>
                {% else %}
                    <p>
                        <a href="/sing" class="btn">Inscription <span class="icon icon-user-plus"></span></a>
                        <a href="/login" class="btn">Connexion <span class="icon icon-login"></span></a>
                    </p>
                {% endif %}
            </div>
        </span>
    </div>
</div>

<main class="page-content" id="pageContent" role="main">
    {% block content %}{% endblock %}
</main>

{% include "includes/footer.twig" %}
{% include "includes/default-script.twig" %}
{% include "includes/flash.twig" %}
</body>
</html>
