/*card de publication*/
@import "../theme/_variables.scss";
.ng-article-background{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.ng-article-category{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    text-align: center;
    line-height: 60px;
    border: 2px solid #fff;
    position: absolute;
    top: 20px; right: 20px;
    background: $color-3;
    color: #fff;
    z-index: 10;
}
.ng-news-card {

        box-shadow: 0 2px 5px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
            -webkit-box-shadow: 0 2px 5px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

        color: #4a4a4a;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        margin-bottom: 10px !important;
        -webkit-transition: $transition;
        transition: $transition;

        &-header {
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            -webkit-box-shadow: 0 0 20px rgba(10, 10, 10, 0.1);
            box-shadow: 0 0 20px rgba(10, 10, 10, 0.1);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            width: 100%;
            height: auto;
            z-index: 100;

            &-title{      
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                font-weight: 600;
                padding: 0.35rem;
                -webkit-text-decoration-line: none !important;
                        text-decoration-line: none !important;      
            }
        }

        &-title {
            margin-bottom: 10px;
            margin-top: 0 !important;
            border-bottom: 1px solid #dbdbdb;
            padding-bottom: 10px;

            & h1{
                text-transform: capitalize;
                font-family: robot-title, openSans, sans-serif ;
                font-weight: 300 !important;
                font-size: 1.5em;
                margin-bottom: 24px;
                margin-top: 0 !important;
                color: #333;
            }

            & h2{
                text-transform: capitalize;
                font-family: robot-title, openSans, sans-serif ;
                font-weight: 600 !important;
                font-size: 1.5em;
                margin-bottom: 10px;
                margin-top: 0 !important;
            }

            & i {
                border: 2px solid $color;
                border-radius: 100%;
                padding: 10px;
                text-align: center;
                font-size: small;
                margin-right: 10px;
                float: right;
                margin-top: -5px;
                margin-bottom: 2px;
            }
        }

        &-header-icon{
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
    
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 0.35rem;
            -webkit-text-decoration-line: none !important;
                    text-decoration-line: none !important;
            color: #ccc;
        }

        &-image{
            display: block;
            position: relative;
            overflow: hidden;
            margin: 0 !important;
            padding: 0 !important;

            &-profil{
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                cursor: pointer;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                padding: 0.35rem;

                & img{
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                }
            }
        }

        &-image-article img{
            width: 100%;
            height: auto;
            -webkit-transition: $transition;
            transition: $transition;
            margin:0 !important;
            padding:0 !important;
        }

        &-content {
            padding: 1rem;
            text-align: left;
            font-family: openSans, sans-serif !important;

            & small{
                margin-top: 15px;
                font-size: small;
                color:#aaa;
                text-transform: lowercase;
            }
        }

        &-seemore{
            margin-top: 5px;
            display: block;
            color: $color-active;
            font-family: openSans, sans-serif;
            font-weight: 200;
            &:hover{
                color: $color-active;
            }
        }

        &-footer{
            border-top: 1px solid #dbdbdb;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            &-item{
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                -ms-flex-negative: 0;
                flex-shrink: 0;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                padding: 0.30rem;
                text-decoration: none !important;
                font-size: smaller;
                cursor: pointer;
                color: rgba(0,0,0,0.5);
                font-weight: 600;
                -webkit-transition: $transition;
                transition: $transition;

                &:not(:last-child){
                    border-right: 1px solid #dbdbdb;
                }
            }
        }

        &-stat{
            text-decoration: none !important;
            font-family:openSans, sans-serif !important;
            & time{
                font: {
                    size: small;
                }
                color: inherit;
            }
        }

        &:not(:last-child){
            margin-bottom: 0.35rem;
        }
    }

#articleInfo {
    padding: 10px 0 10px 0;
    border-top: 1px solid #dbdbdb;
    margin-top: 5px;
    font-family: openSans, sans-serif  ;

    & .icon{
        color: #ccc !important;
    }
}

.ng-article{
    padding: 20px 0 0 0;

    &-img{
        padding: 0;
        margin: 0;
        overflow: hidden;

        & img{
            -webkit-transition: $transition ;
            transition: $transition ;
            width: 100%;
            height: auto;
        }
    }
}

#singleOptions-mobile{
    margin:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;

}

/*verse card*/
.ng-heading{
    font-family: robot-title, openSans, sans-serif !important;
}
.ng-contain{
    padding: 1rem;
    text-align: left;
    font-family: openSans, sans-serif !important;
}

.verse{
    font-family: robot-title, openSans, sans-serif !important;
    word-spacing: 1px;
    font-weight: 600;
    -webkit-animation: verse-alert linear 1s infinite;
            animation: verse-alert linear 1s infinite;

    &-panel{
        -webkit-transition: $transition;
        transition: $transition;
    }

    &-down{
        color:#ccc;
        line-height:25px;
    }
}

.feature{
    position: relative;
    &-panel{
        @extend .verse-panel;
    }

    &-down{
        @extend .verse-down;
        position: absolute;
        top: 10px; right: 15px;
        z-index: 1;
    }

    &-title{
        font: {
            family: robot-title, openSans,sans-serif !important;
            size: 18px;
        };
        display: inline;
    }
}

/*panel imgs home*/
.description{
    padding:1px;
    width: 100%;
    height: 100%;

    & p{
        padding: 10px;
        font-family: openSans,sans-serif;
        text-align: justify;
        line-height: 1.5em;
        display: block;
    }

}


.aside-imgs{
   padding: 6px;

   & img{
        width: 100%;
        height: 100%;
   }

   & .col .l4 .s4 .m4{
        padding:1px;
   }
}


.main-img{
    width: 100%;
    overflow: hidden;
}

/*options card*/

.ng-more-options{
    text-align: center;
    text-transform: uppercase;
    font: {
        family: robot-title;
        weight: bolder;
        size: small;
    }
}


/*no publication yet*/

.no-publication{
    border: 5px double #fff;
    text: {
        -webkit-transform:  capitalize;
                transform:  capitalize;
        align: center
    }
    height: 500px;
    line-height: 850px;
    overflow: hidden;
    background-image: url('/imgs/ngpic.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2 !important;
    position: relative;
    & p {
        font: {
            size: 16px;
            weight: 600;
            family: openSans, sans-serif;
        }
        position: relative;
        z-index: 2 !important;
        color: #fff;
    }
}

@media only screen and (max-width: 700px) {
    .no-publication {
       height: 300px;
       line-height: 450px;
    }
}


.jumbotron {
    padding: 40px 15px 15px 15px;
    background-image: url('/imgs/site-banner.jpeg');
    background-color: $color-4;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    z-index: 900;
    border-bottom: 5px solid rgb(204,204,204);
    min-height: 50px;
    max-height: auto;
    width: 100%;

    &-title{
        display: block;
        color: #fff;
        margin-top: 25px;
        text-transform: capitalize;
        padding: 10px;
        position: relative;
        text-shadow: 1px 1px 1px black;
        line-height: 1.7em;
        font: {
            family: mrsmonster;
            size: 2.95em;
        }
        i {
            font-size: 0.75em;
        }
    }
    &-content{
        display:  block;
        color: #ccc;
        padding: 10px;
        margin-top: -25px;
        position: relative;
        text-shadow: 0px 1px 1px black;
        font: {
            family: openSans, sans-serif !important;
            weight: normal;
            size: normal;
        } 
    }
  }

  @media only screen and (max-width: 700px) {
    .jumbotron{
        min-height: 50px;
        &-title {
            margin-top: 10px !important;
            font: {
                family: mrsmonster;
                size: 2.5em;
            }
        }
    }
  }
  
/* comment-card*/

.comments-card {
   
}

/*statistic-card*/
.statistic{
    width: 100%;
    overflow-x: scroll;
    min-height: 400px !important;
    margin: 0;
    border: 2px solid $color-2;
    margin-bottom: 20px;
}