@import "../theme/variables.scss";
.tooltip{

    position: absolute;
    top: 0;
    left: 0;
    background: #222;
    padding: 3px 10px;
    font-size: 0.815em;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    z-index: 9999;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity linear 0.3s, transform 0.3s ;

    &:after{
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -6px;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        border-top: 6px solid #222;
    }

    &.visible{
        opacity: 1;
        transform: translateY(0)
    }
}


