{% extends 'layout/blank.twig' %}

{% block content %}
    <div class="slider fullscreen">
        <ul class="slides">
            <li id="reset">
                <img src="/imgs/outils.jpeg">
                <div class="caption center-align">
                    <h2 class="ng-heading">Erreur Interne</h2>
                    <h6 class="light grey-text text-lighten-3">
                        Il peut s'agir d'une erreur interne du serveur, si cela se reproduit veuillez nous le signaler
                        <a href="\bugs">ici</a> ou vous pouvez revenir à l'accueil
                    </h6>
                </div>
                <div class="bg"></div>
            </li>
        </ul>
    </div>
    <div class="fixed-action-btn">
        <a href="/" class="btn-floating btn-large waves-effect shadow-4">
            <i class="icon icon-home"></i>
        </a>
    </div>
{% endblock %}