.feed-btn{
	width: 100%;
	min-height: 30px;
	font: {
		height: 30px;
		font-family: openSans
	}
	text: {
		align: center;
		-webkit-transform: capitalize;
		        transform: capitalize;
	}
	background: $color-active ;
	padding: 10px;
	color: #fff;
	cursor: pointer !important;
	-webkit-transition: $transition;
	transition: $transition;
}

.loading-btn{
	@extend .feed-btn;
	opacity: 0.6;
	cursor: not-allowed;
}

.action-btn{
    @extend .ng-btn;
	background: $color-active !important;
}

.loader{
	width: 40px;
	height: 40px;
	display: inline-block;
	background: rgba(0,0,0,0.5);
	border-radius: 100%;
	line-height: auto; 
}

.ng-btn{
	display: block;
	padding: 7px 15px;
	text-align: center;
	color: #fff;
	border: 2px solid  $color-3;
	border-radius: 3px;
	background: $color-3 !important;
	-webkit-transition: $transition;
	transition: $transition;
}

.link-btn{
    border-radius: 3px;
    border: 1px solid #fff;
    display: inline;
    line-height: auto;
    background: transparent !important;
    padding: 10px;
    margin-right: 5px;
    color: #fff !important;
}
.link-btn:hover{
    background: $color-4 !important;
}