@import "../theme/_variables.scss";
$form-font-color: #ffffff;
$form-transition: all linear 0.5s;

.login-bg{
    background-image: url('/imgs/site-banner.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-transition: $form-transition;
    transition: $form-transition;
    position: relative;
    -webkit-animation: actie-cover linear 20s infinite;
            animation: actve-cover linear 20s infinite;
}
    
.sign-bg{
    @extend .login-bg;
}

.loginBox{
    max-width: 600px;
    min-width: 400px;
    min-height: 400px;
    -webkit-transition: $form-transition;
    transition: $form-transition;
}

.signUpBox{
    @extend .loginBox;
}

#loginBox{
    display: block;
    background-color: $color-4;
    border: 3px solid $color-5;
    border-radius: 3px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(50%);



    color: $form-font-color;
    & a.forgot {
        color: #cecece;
        float: right !important;
        &:hover{
            text-decoration: underline;
        }
    }
    & label {
        color: #cecece;
    }

    & input{
        font-family: openSans , sans-serif;
        color: $form-font-color !important;
        background: $color-5;
        border: none;
        border-radius: 3px;
        display: inline-block;
        box-shadow: inset 0px 1px 1px #000;
        padding-left: 5px;
    }
}

#signUpBox{
    @extend #loginBox;
}

.ng-logo{
    text-align: center;
    margin-bottom: 20px !important;
    display: block;
    height: 55px;
    max-width: 100%;
    & a {
        font-size: 3.25em;
        color:#000 !important;
        cursor: pointer;
        -webkit-transition: $form-transition;
        transition: $form-transition;
        -webkit-animation: font-change 60s linear infinite;
                animation: font-change 60s linear infinite;
    }
}

#connect{
    width: 100%;
    height: auto;
    text-align: center;
    line-height: normal;
    display: block;
    text-transform: capitalize;
    font: {
        weight: 600;
        family: helvetica , serif;
    }
    background: $color-3 ;
    color: $form-font-color;
    cursor: pointer !important;
    -webkit-transition: $form-transition;
    transition: $form-transition;
    margin-bottom: 10px;
    padding: 5px;
}

#sign{
    @extend #connect;
}

#cookieOptions{
    margin: 10px auto 10px auto;
    & a {
        color: $color-active;
    }
}


.default-form{
    textarea{
        font-family: inherit;
        width: 100%;
        min-height:100px; 
        padding: 10px;
        margin-top:10px;
        -webkit-transition-duration: .3s;
                transition-duration: .3s;
        color: #54555A;
        border: 2px solid $color;
        border-radius: 3px;
        outline: 0;
        background: #FBFBFB;
    }

    input{
        @extend textarea ;
        height: 50px;
    }
}