{% extends 'layout/admin/default.twig' %}

{% block content %}
    <section class="container row">
        <div class="col l12 s12 m12">
            <nav class="nav z-depth-2" style="margin-bottom: -5px;">
                <div class="nav-wrapper">
                    <ul>
                        <li>
                            <a href="{{ constant('ADMIN') ~ '/logs/delete' }}" data-turbolinks="false">Supprimer</a>
                        </li>
                        <li class="right">
                            <a href="{{ constant('ADMIN') ~ '/logs/send' }}" data-turbolinks="false">Récevoir en mail</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="card grey dark-4 col s12">
                {{ logs | nl2br }}
            </div>
        </div>
    </section>
{% endblock %}
