.hide {
  display: none !important;
}

.fixed {
  position: fixed !important;
  top: 0;
}

.sticky {
  z-index: 996 !important;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.justify-align {
  text-align: justify;
}

.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.bw {
  -webkit-filter: grayscale(100%) !important;
          filter: grayscale(100%) !important;
  opacity: 0.3;
}

.pb10 {
  padding-bottom: 10px !important;
}

.mtb {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.no-select, input[type=range], input[type=range] + .thumb {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.circle {
  border-radius: 50%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.mechanic {
  font-family: "Raleway", Roboto, sans-serif !important;
  font-weight: 400 !important;
}

.no-padding {
  padding: 0 !important;
}
